<div class="row flex-column">
  <% customers.each do |customers| %>
    <table class="table">
      <tbody>
        <tr>
          <td class="col-2 align-middle">
            <%= link_to customer_path(customers) do %>
              <%= customers.name %>
            <% end %>
          </td>
          <td class="col-2 align-middle">投稿数：<%= customers.items.where(customer_id: customers.id).count %></td>
          <td class="col-2 align-middle">
            <%= link_to customer_followings_path(customers) do %>
              <div class="followings-count-<%= customers.id %>">
                <%= render 'public/relationships/followings_count', customers: customers %>
              </div>
            <% end %>
          </td>
          <td class="col-2 align-middle">
            <%= link_to customer_followers_path(customers) do %>
              <div class="followers-count-<%= customers.id %>">
                <%= render 'public/relationships/followers_count', customers: customers %>
              </div>
            <% end %>
          </td>
          <td class="col-2">
            <% if current_customer != Customer.find_by(name: 'guestuser') %>
              <% if current_customer != customers %>
                <div class="follow-btn-<%= customers.id %>">
                  <%= render 'public/relationships/btn', customers: customers %>
                </div>
              <% end %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>
<div class="row">
  <div class="col-12 d-flex justify-content-center">
    <%= paginate customers, theme: 'bootstrap-5' %>
  </div>
</div>