<div class="container my-5">
  <h1>会員編集</h1>

  <div class="row">
    <div>
      <%= render '/layouts/error', obj: @customer %>
    </div>
  </div>

  <%= form_with model: @customer, url: customer_session_path do |f| %>
    <div class="m-5 row bg-light shadow">
      
      <div class="col-12 col-md-8 my-3 mx-auto">
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'form-control', placeholder: 'ユーザー名' %>
      </div>

      <div class="col-12 col-md-8 my-3 mx-auto">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'メールアドレス' %>
      </div>

      <!--公開ステータス-->
      <div class="col-12 col-md-8 my-3 mx-auto">
        <%= f.radio_button :status, 'item_release' %>
        <%= f.label :status, '公開' %>
        <div class="ml-3">すべての人に投稿が表示されます</div>
      </div>
      <div class="col-12 col-md-8 mb-3 mx-auto">
        <%= f.radio_button :status, 'item_private' %>
        <%= f.label :status, '非公開' %>
        <div class="ml-3">あなただけに投稿が表示されます</div>
      </div>


      <div class="col-12 col-md-8 my-3 mx-auto">
        <%= f.submit "編集", class: 'btn btn-outline-info btn-block' %>
      </div>

      <div class="col-12 col-md-8 my-3 mx-auto">
        <%= link_to '退会', unsubscribe_path(@customer), class: 'btn btn-outline-danger btn-block' %>
      </div>
    </div>
  <% end %>
</div>