<div class="container my-5">
  <% if @customer == current_customer %>
    <h1>マイページ</h1>
  <% else %>
    <h1><%= @customer.name %>さんのページ</h1>
  <% end %>

  <div class="row">
    <div class="mx-auto col-9">
      <p>ユーザー名：<%= @customer.name %></p>
      <p>投稿数：<%= @customer.items.where(customer_id: @customer).count %></p>
      <%= link_to customer_followings_path(@customer) do %>
        <p>
          <%= render 'public/relationships/followings_count', customers: @customer %>
        </p>
      <% end %>
      <%= link_to customer_followers_path(@customer) do %>
        <p id="followers-count">
          <%= render 'public/relationships/followers_count', customers: @customer %>
        </p>
      <% end %>
      <p>公開ステータス：<%= @customer.status_i18n %></p>
    </div>
  </div>

  <div class="d-flex">

    <div class="col-5 col-sm-3 mx-auto">
      <% if current_customer == @customer %>

        <!--編集ボタン-->
        <%= link_to '編集', edit_customer_path(@customer), class: 'btn btn-success btn-block' %>

      <% else %>

        <!--フォローボタン-->
        <div id="follow-btn">
          <%= render 'public/relationships/btn', customers: @customer %>
        </div>

      <% end %>
    </div>
  </div>
</div>

<div class="container my-5">
  <h1><%= @customer.name %>さんの投稿一覧</h1>
  <% if current_customer == @customer %>

    <% if @customer.items.exists? %>
      <%= render 'public/items/index', items: @items %>
    <% else %>
      <h3 class="text-center">このユーザーの投稿はありません</h3>
    <% end %>

  <% else %>

    <% if @customer.items.exists? %>

      <!--投稿がある場合-->
      <% if @customer.status == 'item_release' %>

        <!--公開ステータス・公開時-->
        <%= render 'public/items/index', items: @items %>

      <% else %>

        <!--公開ステータス・非公開時-->
        <h3 class="text-center">このユーザーの投稿は非公開です</h3>

      <% end %>

    <% else %>

      <!--投稿がない場合-->
      <h3 class="text-center">このユーザーの投稿はありません</h3>

    <% end %>
  <% end %>
</div>