<div class="container my-5">
  <h1><%= @customer.name %>さんのユーザー情報詳細</h1>

  <div class="row">
    <div class="mx-auto col-9">
      <p>ユーザー名：<%= @customer.name %></p>
      <p>メールアドレス：<%= @customer.email %></p>
      <p>投稿数：<%= @customer.items.where(customer_id: @customer).count %></p>
      <p>公開ステータス：<%= @customer.status_i18n %></p>
      <p>
        <% if @customer.is_deleted == false %>
          会員ステータス：有効
        <% elsif %>
          会員ステータス：退会
        <% end %>
      </p>
    </div>
  </div>

  <div class="d-flex">
    <div class="col-5 col-md-3 mx-auto">
      <%= link_to '編集', edit_admin_customer_path(@customer), class: 'btn btn-success btn-block' %>
    </div>
  </div>
</div>