<div class="row flex-column">
  <% customers.each do |customers| %>
    <table class="table tandem">
      <tbody>
        <tr>
          <th class="col-md-2 align-middle">
            <%= link_to admin_customer_path(customers) do %>
              <%= customers.name %>
            <% end %>
          </th>
          <td class="col-md-2 align-middle">投稿数：<%= customers.items.where(customer_id: @customer).count %></td>
          <td class="col-md-2 align-middle">公開ステータス：<%= customers.status_i18n %></td>
          <td class="col-md-2 align-middle">
            <% if customers.is_deleted == false %>
              会員ステータス：有効
            <% elsif %>
              会員ステータス：退会
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>
<div class="row">
  <div class="col-12 d-flex justify-content-center">
    <%= paginate customers, theme: 'bootstrap-5' %>
  </div>
</div>