<div class="container my-5">
  <h1>投稿詳細</h1>
  <div class="row">
    <div class="mx-auto">
      <h4>
        <%= link_to customer_path(@item.customer) do %>
          <%= @item.customer.name %>
        <% end %>
      </h4>
      <div class="mb-3"><%= image_tag @item.image, class: 'item-show' %></div>
      <h3 class="mb-3"><%= @item.title %></h3>
      <h4 class="mb-3"><%= @item.introduction %></h4>

      <div id="favorite-btn">
        <%= render 'public/favorites/favorite', item: @item %>
      </div>

      <p><%= @item.created_at.strftime('%Y/%m/%d') %></p>
    </div>
  </div>

  <div class="d-flex">
    <div class="col-3 mx-auto">
      <% if current_customer == @item.customer %>
        <%= link_to '編集', edit_item_path(@item), class: 'btn btn-success btn-block' %>
      <% end %>
    </div>
  </div>
</div>

<div class="container mb-5">
  <h2>コメント</h2>

  <%= render '/public/item_comments/form', item: @item, item_comment: @item_comment %>
  <div class="comments-area">
    <%= render '/public/item_comments/comments', item: @item %>
  </div>
</div>
